@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
CSS Variables for Tailwind Config

! Must be used with `tailwind.config.ts` for styles to work
! in @zoos/shad-ui
*/
@layer base {
  :root {
    /*
    ~ Colors    
    */

    --foreground: hsl(0, 0%, 10%);
    --background: hsl(200, 100%, 99%);

    --border: hsl(0, 0%, 89.8%);
    --popover: hsl(201, 58%, 95%);
    --popover-foreground: var(--foreground);
    --card: var(--popover);
    --card-foreground: var(--popover-foreground);
    --label-foreground: color-mix(in srgb, white 10%, var(--foreground) 90%);
    --dialog-overlay: hsla(0, 0%, 0%, 0.5);

    --input: var(--background);
    --input-foreground: var(--foreground);

    --primary-foreground: hsl(0, 0%, 100%);
    --primary: hsl(212, 80%, 42%);
    --secondary-foreground: hsl(0, 0%, 100%);
    --secondary: #3a87cf;

    --destructive-foreground: hsl(0, 0%, 100%);
    --destructive: hsl(359, 76%, 54%);
    --warning-foreground: hsl(0, 0%, 100%);
    --warning: hsl(38, 92%, 50%);
    --success-foreground: hsl(0, 0%, 100%);
    --success: hsl(160, 84%, 39%);

    --primary-muted: color-mix(in srgb, white 40%, var(--primary) 60%);
    --primary-accent: color-mix(in srgb, black 20%, var(--primary) 80%);
    --secondary-muted: color-mix(in srgb, white 40%, var(--secondary) 60%);
    --secondary-accent: color-mix(in srgb, black 20%, var(--secondary) 80%);
    --destructive-muted: color-mix(in srgb, white 40%, var(--destructive) 60%);
    --destructive-accent: color-mix(in srgb, black 20%, var(--destructive) 80%);
    --warning-muted: color-mix(in srgb, white 40%, var(--warning) 60%);
    --warning-accent: color-mix(in srgb, black 20%, var(--warning) 80%);
    --success-muted: color-mix(in srgb, white 40%, var(--success) 60%);
    --success-accent: color-mix(in srgb, black 20%, var(--success) 80%);
    --accent: color-mix(in srgb, black 10%, var(--background) 90%);
    --accent-foreground: var(--foreground);
    --muted: color-mix(in srgb, black 5%, var(--background) 95%);
    --muted-foreground: color-mix(in srgb, white 20%, var(--foreground) 80%);

    /*
    ~ Zoos specific colors
    */
    --logo-mountain-color: hsl(218, 100%, 14%);
    --logo-color: hsl(202, 100%, 42%);

    /*
    ~ Other miscellaneous
    */

    --border-radius: 0.25rem;
    --card-border-radius: 0.5rem;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      /*
      ~ Colors (Dark)
      */
      --foreground: hsla(222, 13%, 75%, 0.851);
      --background: hsl(221, 59%, 11%);

      --border: hsl(217, 56%, 24%);
      --popover: hsl(218, 100%, 9%);
      --popover-foreground: var(--foreground);
      --card: var(--popover);
      --card-foreground: var(--foreground);
      --label-foreground: color-mix(in srgb, black 10%, var(--foreground) 90%);
      --dialog-overlay: hsla(0, 0%, 0%, 0.5);

      --primary-foreground: hsl(220, 13%, 91%);
      --primary: hsl(212, 80%, 42%);
      --secondary-foreground: hsl(220, 13%, 91%);
      --secondary: hsl(209, 61%, 52%);

      --destructive-foreground: hsl(0, 0%, 100%);
      --destructive: hsl(359, 76%, 54%);
      --warning-foreground: hsl(0, 0%, 100%);
      --warning: hsl(38, 92%, 50%);
      --success-foreground: hsl(0, 0%, 100%);
      --success: hsl(160, 84%, 39%);

      --primary-muted: color-mix(in srgb, black 40%, var(--primary) 60%);
      --primary-accent: color-mix(in srgb, white 20%, var(--primary) 80%);
      --secondary-muted: color-mix(in srgb, black 40%, var(--secondary) 60%);
      --secondary-accent: color-mix(in srgb, white 20%, var(--secondary) 80%);
      --destructive-muted: color-mix(
        in srgb,
        black 40%,
        var(--destructive) 60%
      );
      --destructive-accent: color-mix(
        in srgb,
        white 20%,
        var(--destructive) 80%
      );
      --warning-muted: color-mix(in srgb, black 40%, var(--warning) 60%);
      --warning-accent: color-mix(in srgb, white 20%, var(--warning) 80%);
      --success-muted: color-mix(in srgb, black 40%, var(--success) 60%);
      --success-accent: color-mix(in srgb, white 20%, var(--success) 80%);
      --accent: color-mix(in srgb, white 15%, var(--background) 85%);
      --accent-foreground: color-mix(in srgb, white 5%, var(--foreground) 80%);
      --muted: color-mix(in srgb, white 5%, var(--background) 95%);
      --muted-foreground: color-mix(in srgb, black 25%, var(--foreground) 75%);

      /*
    ~ Zoos specific colors
    */
      --logo-mountain-color: white;
      --logo-color: hsl(202, 100%, 42%);
    }
  }
}
